@import "tailwindcss/base";
@import "tailwindcss/components";
@import "./button.css";
@import "./fonts.css";
@import "./animations.css";
@import "tailwindcss/utilities";
@import "./calendar.css";
@import "./nprogress.css";

@layer base {
  @font-face {
    font-family: "Unbounded";
    font-style: normal;
    font-weight: 400;
    font-display: auto;
    src: url(/fonts/Unbounded-Regular.woff2) format("woff2");
  }

  @font-face {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 400;
    font-display: auto;
    src: url(/fonts/Manrope-Regular.woff2) format("woff2");
  }

  @font-face {
    font-family: "Open";
    font-style: normal;
    font-weight: 100 900;
    font-display: auto;
    src: url(/fonts/Open-Sans-Regular.woff2) format("woff2");
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  html,
  body {
    height: 100%;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }
  #root,
  #__next {
    isolation: isolate;
  }

  input,
  textarea,
  ._fake-input-container {
    @apply bg-slate-100 p-2 rounded-md focus:ring-indigo-800 focus:ring-2 outline-none focus:outline-none placeholder:text-indigo-400 placeholder:uppercase placeholder:font-semibold placeholder:text-xs;
  }

  h2 {
    @apply text-2xl font-bold;
  }
}

* {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}
